header {
    text-align: center;
    font-size: 15px;
    display: inline;
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0px 15px;
}

.HeaderBlock {
    color: white;
    padding: 10px;
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.HeaderText {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(77, 72, 72);
    border-radius: 10px;
}

body {
    background-color: rgb(31, 29, 29);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.app-list {
    display: flex;
    justify-content: center;
}

.app {
    display: flex;
    width: 330px;
    background-color: rgb(77, 72, 72);
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    justify-content: center;
}

.app-text {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.app-button {
    color: white;
    text-decoration: none;
    background-color: rgb(31, 29, 29);
    border-radius: 10px;
    padding: 5px 10px;
}
